@{
    Layout = Layout;
}

        <h1>Accueil</h1>
@if (TempData["Message"] != null && !string.IsNullOrWhiteSpace(TempData["Message"].ToString()))
{ 
        <div class="alert alert-success">@TempData["Message"].ToString()</div>
}
        @*<p>
            <a href="~/a-propos">A propos</a>
            <br />
            @Html.ActionLink("A propos", "about", "Home")
            <br />
            <a href="@Url.Action("About", "Home")">A propos</a>
            <br />
            <a href="@Url.RouteUrl("AboutRoute")">A propos</a>
        </p>*@
