@{
    Layout = Layout;
}

        <h1>Accueil</h1>
        @*<p>
            <a href="~/a-propos">A propos</a>
            <br />
            @Html.ActionLink("A propos", "about", "Home")
            <br />
            <a href="@Url.Action("About", "Home")">A propos</a>
            <br />
            <a href="@Url.RouteUrl("AboutRoute")">A propos</a>
        </p>*@
